[user]
	name = Laney Smith
	email = lsmith.unc@gmail.com
	username = laneysmith
[github]
	user = laneysmith
[alias]
	bdate = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:yellow)%(refname:short)%(color:reset) - %(color:red)%(objectname:short)%(color:reset) - %(contents:subject) - %(authorname) (%(color:green)%(committerdate:relative)%(color:reset))'
	co = checkout
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	unstage = reset HEAD --
    toss = reset --hard
	rebase-onto = "!f() { git rebase --onto main $(git merge-base \"$1\" \"$2\") \"$1\"; }; f"
[core]
	excludesfile = /Users/laneysmith/.gitignore_global
	ignorecase = false
[init]
    defaultBranch = main
